<div class="list-item-large list-item-rounded gx-0 my-1 my-lg-3">
    <div class="row d-flex bg-light px-2 py-2 px-lg-0 py-lg-0">
        <div class="col col-12 col-lg-4 flex-shrink-0">
            <div class="list-item-image"> 
                {% if item.image %}
                <a href="{{ item.image }}">
                    <img class="square-center mx-4 mx-4 mx-lg-0" alt="{{ item.name }}" src="{{ item.image }}" />
                </a>
                {% else %}
                    <img class="square-center mx-4 mx-4 mx-lg-0" alt="{{ item.name }}" src="{{ item.image }}" />
                {% endif %}
            </div>
        </div>
        <div class="col col-12 col-lg-7 flex-grow-1 mx-0 ms-lg-4 me-lg-3 list-item-content my-lg-5 my-3">
            {{ item.content | markdownify }}
        </div>
    </div>
</div>