.hero {
  background: url(https://res.cloudinary.com/zaigezaigu/image/upload/v1665641160/cld-sample-2.jpg);
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.hero-content {
  margin-left: 160px;
  margin-right: 720px;
  color: $white;

  h1 {
    margin: 0;
    font-weight: 700;
    font-size: 48px;
  }

  h2 {
    margin: 24px 0 0 0;
    font-weight: 700;
    font-size: 20px;
  }

  button {
    margin-top: 48px;
  }

  #hero-divider {
    margin: 32px 0 0 0;
    border-bottom: 4px solid $white;
  }

  h3 {
    margin: 32px 0 0 0;
    font-weight: 700;
    font-size: 20px;
  }
}

.hero-short {
  height: 480px;
}

.hero-long {
  height: 720px;
}

.hero-galatour {
  height: 480px;
  background: url(https://res.cloudinary.com/zaigezaigu/image/upload/v1639618313/zgzg-io-website/2022%E6%98%A5%E6%99%9A%E6%8B%8D%E6%91%84%E8%8A%B1%E7%B5%AE/fairshow_rw4bsj.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
