---
layout: default
---
<div id="tour-banner">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4 col-md-6 col-lg-6 align-self-center">
                <h1>2023春节游园会</h1>
                <div><br>
                    <p>
                        时间：2023年1月21日（周六）， 13:00 -16:00 <br>
                        地点： San Jose Center for the Performing Arts <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Tab links -->
<div class="tab">
    <button class="tab-links default-open" onclick="openTab(event)" data-tab-group="main" data-tab-id="about">关于春节游园会</button>
    <button class="tab-links" onclick="openTab(event)" data-tab-group="main" data-tab-id="stage">游园舞台节目招募</button>
    <button class="tab-links" onclick="openTab(event)" data-tab-group="main" data-tab-id="map">游园地图</button>
</div>

<!-- Tab content -->
<div id="about" class="tab-content">
    <div class="container pt-6 pb-6 pt-md-8 pb-md-8">
        <div class="row">
            <h1>什么是春节游园会</h1>
            <p> 
                叮咣叮咣，新年来到！远在异国他乡的你，是否也怀念过年各处张灯结彩的喜庆呢？找不到组织的你，是否也想沾沾年味热闹一番呢？<br>
                民俗活动，传统游戏，精彩互动，就在“载歌在谷”欢乐游园！湾区规模最大，最热闹，最具中国特色的春节晚会。适合全家参与，赶快带小朋友来体验我中华民族的春节气息吧！活动不仅免费，还有各种礼品和奖品送！<br>
            </p>
        </div>
    </div>
</div>

<div id="stage" class="tab-content">
    <div class="container pt-6 pb-6 pt-md-8 pb-md-8">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
</div>

<div id="map" class="tab-content">
    <div class="container pt-6 pb-6 pt-md-8 pb-md-8">
        <div class="row">
            <h1 style="text-align:center">2023春节游园地图</h1>
        </div>
        <div class="row pb-6">
            <div class="col">
                <div>{{content}}</div>
            </div>
        </div>
        <div class="row">
            <h1 style="text-align:center">2023春节游园会活动介绍</h1>
        </div>
        <div class="row">
            <h2 style="text-align:center">传统文化booth</h2>
        </div>
        <div class="row justify-content-center">
            {% if site.data.data.galatour_picture_1 %}
                {% for programme in site.data.data.galatour_picture_1 %}
                    {% include programme.html %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="row">
            <h2 style="text-align:center">手工booth</h2>
        </div>
        <div class="row justify-content-center">
            {% if site.data.data.galatour_picture_2 %}
                {% for programme in site.data.data.galatour_picture_2 %}
                    {% include programme.html %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="row">
            <h2 style="text-align:center">游戏booth</h2>
        </div>
        <div class="row justify-content-center">
            {% if site.data.data.galatour_picture_3 %}
                {% for programme in site.data.data.galatour_picture_3 %}
                    {% include programme.html %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="row">
            <h2 style="text-align:center">互动booth</h2>
        </div>
        <div class="row justify-content-center">
            {% if site.data.data.galatour_picture_4 %}
                {% for programme in site.data.data.galatour_picture_4 %}
                    {% include programme.html %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="row">
            <h2 style="text-align:center">童趣booth</h2>
        </div>
        <div class="row">
            {% if site.data.data.galatour_picture_5 %}
                {% for programme in site.data.data.galatour_picture_5 %}
                    {% include programme.html %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>