---
layout: default
---
<div id="gala-banner">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-6 col-md-6 col-lg-6 align-self-center">
                <h1>2023年载歌载谷春节晚会</h1>
                <p>
                    时间：2022年1月21日周六<br>
                    地点：San Jose Center for Performing Arts 255 S Almaden Blvd, San Jose, CA <br>
                </p>
            </div>
            <div class="col-12 mb-6 col-md-6 col-lg-6 align-self-center">

            </div>
        </div>
    </div>
</div>

<!-- Tab links -->
<div class="tab">
    <button class="tab-links default-open" onclick="openTab(event)" data-tab-group="main" data-tab-id="about-gala">关于春晚</button>
    <button class="tab-links" onclick="openTab(event)" data-tab-group="main" data-tab-id="show-list">节目表</button>
</div>

<div id="about-gala" class="tab-content">
    <div class="container pt-6 pb-6 pt-md-6 pb-md-6">
        <div class="text-center pb-3">
            <h1 class="underline">关于“载歌在谷”春节晚会</h1>
        </div>
        <p class="black">
        “载歌在谷”春晚自2015年来已经连续举办了8届，受到社会各界，尤其是北美华人圈的广泛关注，合作媒体包括吃货小分队，新浪微博，星岛电台星电视，
            美国中文电台，美国中文电视，喜马拉雅等。近三年，我们的春晚还接连登上了CCTV4，作为海外华人的代表给全球华人拜年，影响颇广。</p>

        <p class="black">
        近几年来，“载歌在谷”春晚的观众群体已经从湾区华人社区扩大到了北美，乃至全球多个国家和地区。2022 年最近一次的线下春晚，
            我们的筹备工作规模更是史无前例。
        </p>

        <div class="pb-3">
        </div>

        <div class="container text-center">
            <div class="row gala-text-grid">
                <div class="col gala-text-grid">100进16</div>
                <div class="col gala-text-grid">50进6</div>
                <div class="col gala-text-grid">150+</div>
                <div class="col gala-text-grid">150+</div>
            </div>
            <div class="row gala-text-grid">
                <div class="col gala-text-grid-content">节目甄选</div>
                <div class="col gala-text-grid-content">主持人甄选</div>
                <div class="col gala-text-grid-content">志愿者</div>
                <div class="col gala-text-grid-content">演职人员</div>
            </div>
        </div>

        <div class="pb-6">
        </div>

        <div class="container text-center">
            <div class="row gala-text-grid">
                <div class="col gala-text-grid">10+</div>
                <div class="col gala-text-grid">20+</div>
                <div class="col gala-text-grid">7大</div>
                <div class="col gala-text-grid">73万</div>
            </div>
            <div class="row gala-text-grid">
                <div class="col gala-text-grid-content">媒体合作宣传</div>
                <div class="col gala-text-grid-content">赞助商及合作伙伴</div>
                <div class="col gala-text-grid-content">社交媒体运营</div>
                <div class="col gala-text-grid-content">宣传浏览量</div>
            </div>
        </div>

        <div class="text-center pt-6 pb-3">
            <h1 class="underline">往届春晚精彩回顾</h1>
        </div>

        <div class="container text-center">
            <div class="row gala-photo-grid">
                <img class="col gala-photo-grid" src="https://res.cloudinary.com/zaigezaigu/image/upload/t_auto_good_compression/v1641972670/zgzg-io-website/2022%E6%98%A5%E6%99%9A%E6%8B%8D%E6%91%84%E8%8A%B1%E7%B5%AE/2_xwhlkl.png" alt="">
                <img class="col gala-photo-grid" src="https://res.cloudinary.com/zaigezaigu/image/upload/t_auto_good_compression/v1641763804/zgzg-io-website/2022%E6%98%A5%E6%99%9A%E6%8B%8D%E6%91%84%E8%8A%B1%E7%B5%AE/12_vofv4z.png" alt="">
                <img class="col gala-photo-grid" src="https://res.cloudinary.com/zaigezaigu/image/upload/t_auto_good_compression/v1636003210/zgzg-io-website/2022%E6%98%A5%E6%99%9A%E6%8B%8D%E6%91%84%E8%8A%B1%E7%B5%AE/%E8%A1%97%E8%88%9E_1_cfoxgf.png" alt="">
            </div>
            <div class="row gala-photo-grid">
                <img class="col gala-photo-grid" src="https://res.cloudinary.com/zaigezaigu/image/upload/t_auto_good_compression/v1636003209/zgzg-io-website/2022%E6%98%A5%E6%99%9A%E6%8B%8D%E6%91%84%E8%8A%B1%E7%B5%AE/%E7%9B%B8%E5%A3%B0_1_smwvi6.png" alt="">
                <img class="col gala-photo-grid" src="https://res.cloudinary.com/zaigezaigu/image/upload/t_auto_good_compression/v1636003208/zgzg-io-website/2022%E6%98%A5%E6%99%9A%E6%8B%8D%E6%91%84%E8%8A%B1%E7%B5%AE/%E6%B0%91%E6%97%8F%E8%88%9E_%E8%A1%97%E8%88%9E_2_qb7bxz.png" alt="">
                <img class="col gala-photo-grid" src="https://res.cloudinary.com/zaigezaigu/image/upload/t_auto_good_compression/v1636003204/zgzg-io-website/2022%E6%98%A5%E6%99%9A%E6%8B%8D%E6%91%84%E8%8A%B1%E7%B5%AE/ink_painting_1_dpcmli.png" alt="">
            </div>
            <div class="row gala-photo-grid">
                <img class="col gala-photo-grid" src="https://res.cloudinary.com/zaigezaigu/image/upload/t_auto_good_compression/v1636003347/zgzg-io-website/2022%E6%98%A5%E6%99%9A%E6%8B%8D%E6%91%84%E8%8A%B1%E7%B5%AE/cover2_dko2lc.png" alt="">
                <img class="col gala-photo-grid" src="https://res.cloudinary.com/zaigezaigu/image/upload/t_auto_good_compression/v1636003344/zgzg-io-website/2022%E6%98%A5%E6%99%9A%E6%8B%8D%E6%91%84%E8%8A%B1%E7%B5%AE/cover5_ibeftg.png" alt="">
                <img class="col gala-photo-grid" src="https://res.cloudinary.com/zaigezaigu/image/upload/t_auto_good_compression/v1641757235/zgzg-io-website/2022%E6%98%A5%E6%99%9A%E6%8B%8D%E6%91%84%E8%8A%B1%E7%B5%AE/6_nj1uat.png" alt="">
            </div>
        </div>
    </div>
</div>

<!-- Tab content -->
<div id="show-list" class="tab-content">
    <div class="container pt-6 pb-6 pt-md-6 pb-md-6">
        {% include galalist.html %}
    </div>
</div>
