---
layout: default
---
<div class="hero sponsorship-bg"></div>
  <div class="container pt-4 pb-4">
</div>
<div id="sponsors" class="tab-content">
  <div class="container pt-6 pb-6 pt-md-6 pb-md-6">
    <div class="row">
        <div class="col pb-3 text-center">
            <h1 class="underline">赞助商</h1>
        </div>
    </div>
    <!-- Steve -->
    <div class="container">
        <div class="row">
          <img class="img-fluid" src="https://res.cloudinary.com/zaigezaigu/image/upload/v1771044446/zgzg-io-website/2026%E6%98%A5%E6%99%9A/Steve_vxl3zh.png" alt="Steve_vxl3zh">
        </div>
        <div class="row">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/JHAJdcZ57Vk?si=c53gbfDCoUTKtCCF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
    <!-- Deleon -->
    <div class="container">
      <div class="row">
        <img class="img-fluid" src="https://res.cloudinary.com/zaigezaigu/image/upload/v1771044440/zgzg-io-website/2026%E6%98%A5%E6%99%9A/Deleon_owtsfj.png" alt="Steve_vxl3zh">
      </div>
      <div class="row">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/9xwP7nE_kCk?si=7_s_EVNHUAj2ZFXs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>
    <!-- Jarsy -->
    <div class="container">
      <div class="row">
        <img class="img-fluid" src="https://res.cloudinary.com/zaigezaigu/image/upload/v1771044431/zgzg-io-website/2026%E6%98%A5%E6%99%9A/Jarsy_blvlt8.png" alt="Steve_vxl3zh">
      </div>
      <div class="row">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/1xDX_dISk1w?si=chTezzr8jNwoBUp5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="row">
       </div>
    </div>

    <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="flex-shrink-0">
              <img class="img-fluid" src="https://res.cloudinary.com/zaigezaigu/image/upload/v1771110607/zgzg-io-website/2026%E6%98%A5%E6%99%9A/sponsor_listing_1_qsijoz.pdf" alt="Image 1">
            </div>
          </div>
          <div class="col-md-6">
            <div class="flex-shrink-1">
              <img class="img-fluid" src="https://res.cloudinary.com/zaigezaigu/image/upload/v1771110607/zgzg-io-website/2026%E6%98%A5%E6%99%9A/sponsor_listing_2_m1oz4i.pdf" alt="Image 2">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="flex-shrink-0">
              <img class="img-fluid" src="https://res.cloudinary.com/zaigezaigu/image/upload/v1771110604/zgzg-io-website/2026%E6%98%A5%E6%99%9A/sponsor_listing_3_ngnbqy.pdf" alt="Image 3">
            </div>
          </div>
          <div class="col-md-6">
            <div class="flex-shrink-1">
              <img class="img-fluid" src="https://res.cloudinary.com/zaigezaigu/image/upload/v1771110607/zgzg-io-website/2026%E6%98%A5%E6%99%9A/sponsor_listing_4_cjn9eb.pdf" alt="Image 4">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="flex-shrink-0">
              <img class="img-fluid" src="https://res.cloudinary.com/zaigezaigu/image/upload/v1771110605/zgzg-io-website/2026%E6%98%A5%E6%99%9A/sponsor_listing_5_h1fd4o.pdf" alt="Image 3">
            </div>
          </div>
          <div class="col-md-6">
            <div class="flex-shrink-1">
              <img class="img-fluid" src="https://res.cloudinary.com/zaigezaigu/image/upload/v1771110606/zgzg-io-website/2026%E6%98%A5%E6%99%9A/sponsor_listing_6_sajl98.pdf" alt="Image 4">
            </div>
          </div>
        </div>
    </div>
</div>
