---
layout: default
---
<div class="hero sponsorship-bg"></div>
  <div class="container pt-4 pb-4">
</div>
<div id="sponsors" class="tab-content">
  <div class="container pt-6 pb-6 pt-md-6 pb-md-6">
    <div class="row">
        <div class="col pb-3 text-center">
            <h1 class="underline">赞助商</h1>
        </div>
    </div>
    <!-- Steve -->
    <div class="container">
        <div class="row">
          <img class="img-fluid" src="https://res.cloudinary.com/zaigezaigu/image/upload/v1771044446/zgzg-io-website/2026%E6%98%A5%E6%99%9A/Steve_vxl3zh.png" alt="Steve_vxl3zh">
        </div>
        <div class="row">
          <iframe width="560" height="315" src="https://youtu.be/JHAJdcZ57Vk?si=gMOY5_eK4LFzTasq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    <!-- Deleon -->
    <div class="container">
      <div class="row">
        <img class="img-fluid" src="https://res.cloudinary.com/zaigezaigu/image/upload/v1771044440/zgzg-io-website/2026%E6%98%A5%E6%99%9A/Deleon_owtsfj.png" alt="Steve_vxl3zh">
      </div>
      <div class="row">
        <iframe width="560" height="315" src="https://youtu.be/9xwP7nE_kCk?si=IJTqf7dIxJmpbH1-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
    <!-- Deleon -->
    <div class="container">
      <div class="row">
        <img class="img-fluid" src="https://res.cloudinary.com/zaigezaigu/image/upload/v1771044431/zgzg-io-website/2026%E6%98%A5%E6%99%9A/Jarsy_blvlt8.png" alt="Steve_vxl3zh">
      </div>
      <div class="row">
        <iframe width="560" height="315" src="https://youtu.be/1xDX_dISk1w?si=VCBGn_2-o5weMoP0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>

    <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="flex-shrink-0">
              <img class="img-fluid" src="https://res.cloudinary.com/zaigezaigu/image/upload/v1705177675/Page_12_wlvyua.jpg" alt="Image 1">
            </div>
          </div>
          <div class="col-md-6">
            <div class="flex-shrink-1">
              <img class="img-fluid" src="https://res.cloudinary.com/zaigezaigu/image/upload/v1705177675/Page_13_x0xvmn.jpg" alt="Image 2">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="flex-shrink-0">
              <img class="img-fluid" src="https://res.cloudinary.com/zaigezaigu/image/upload/v1705177674/Page_14_wm3qbs.jpg" alt="Image 3">
            </div>
          </div>
          <div class="col-md-6">
            <div class="flex-shrink-1">
              <img class="img-fluid" src="https://res.cloudinary.com/zaigezaigu/image/upload/v1705177672/Page_15_wnzxyj.jpg" alt="Image 4">
            </div>
          </div>
        </div>
    </div>
</div>
